<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pontuador de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 class="ion-text-center">Valendo: {{numero}}</h4>
  <ion-grid>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)="mudarNumero()" size="default">1</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="mudarNumero3()" size="default">3</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="mudarNumero6()" size="default">6</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="mudarNumero9()" size="default">9</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="mudarNumero12()" size="default">12</ion-button>
      </ion-col>
      <ion-col></ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col class="centralizado">
        <h4>Time 1</h4>
        <ion-button (click)="maisPonto()" size="default">+</ion-button>
        <ion-row>
          <div class="div">
          <h3>{{ponto1}}</h3>
        </div>
        </ion-row>
        <ion-button (click)="menosPonto()" size="default">-</ion-button>
      </ion-col>

      <ion-col></ion-col>

      <ion-col class="centralizado">
        <h4>Time 2</h4>
        <ion-button (click)="maisPonto2()" size="default">+</ion-button>
        <ion-row>
          <div class="div">
          <h3>{{ponto2}}</h3>
        </div>
        </ion-row>
        <ion-button (click)="menosPonto2()" size="default">-</ion-button>
      </ion-col>

      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row>
      <ion-col>
        <h4>Partidas</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>Time 1</h4>
      </ion-col>
      <ion-col>
        <h4>{{partida1}}</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>Time 2</h4>
      </ion-col>
      <ion-col>
        <h4>{{partida2}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="limparVariaveis()" expand="full">Limpar</ion-button>

</ion-content>
