<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pontuador de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 class="ion-text-center">Valendo: 1</h4>
  <ion-grid>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button size="default">1</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default">3</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default">6</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default">9</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default">12</ion-button>
      </ion-col>
      <ion-col></ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <h4>Time 1</h4>
        <ion-button size="default">+</ion-button>
        <ion-row>
          <h3>0</h3>
        </ion-row>
        <ion-button size="default">-</ion-button>
      </ion-col>

      <ion-col></ion-col>

      <ion-col>
        <h4>Time 2</h4>
        <ion-button size="default">+</ion-button>
        <h3>0</h3>
        <ion-button size="default">-</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row>
      <ion-col>
        <h4>Partidas</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>Time 1</h4>
      </ion-col>
      <ion-col>
        <h4>0</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>Time 1</h4>
      </ion-col>
      <ion-col>
        <h4>0</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full">Limpar</ion-button>

</ion-content>
