<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pontuador de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-grid>

<ion-row>
    <ion-col></ion-col>
<ion-col>
  <ion-button size="default">1</ion-button>
</ion-col>

<ion-col>
  <ion-button size="default">3</ion-button>
</ion-col>

<ion-col>
  <ion-button size="default">6</ion-button>
</ion-col>

<ion-col>
  <ion-button size="default">9</ion-button>
</ion-col>

<ion-col>
  <ion-button class="buttons" size="default">12</ion-button>
</ion-col>
<ion-col></ion-col>

</ion-row>

 </ion-grid>

<ion-grid>
  <ion-row>
    <ion-col></ion-col>
  </ion-row>

  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button size="default">1</ion-button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <ion-button size="default">1</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

</ion-grid>

</ion-content>
